<div class="">
    <div class="m-2 container">
        <div class="m-1 col">
            <img class="rounded-top img-hed" src="{{tareas.img}}">
        </div>
        <div class="m-1 d-block">
            {{tareas.titulo}}
        </div>
        <div class="m-1 container H">
            <div class="row">
                <div class="rounded bg" 
                    [ngClass]="{ 'bg-danger': isDanger(), 'bg-warning': isWarning(), 'bg-success':isSuccess()}">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                    </svg>
                    <i class="bi bi-clock"></i>
                    <span class="text-center">{{tareas.fechaFin}}</span>
                </div>
                <div class="col"></div>
                <div class="col-2" *ngFor="let item of tareas.usuarios">
                    <img class="rounded-circle img_user" src="{{item.img}}" alt="{{item.alt}}">
                </div>
            </div>
        </div>
    </div>
</div>