<div *ngFor="let month of months" class="card-container">
  <div class="card">
    <span>{{getMonthInYear(year,month) | date:'LLLL'}}</span>

    <br>

    <div>

      <div class="weekdays">
        <p *ngFor="let item_week of week">
          {{item_week}}
        </p>

      </div>

      <div>
        <div  class="days">

          <p *ngFor="let day of getDaysInYearMonth(year,month)">

            {{day.getDate()}}

          </p>

        </div>
      </div>

    </div>


  </div>
  <p></p>
</div>