<div *ngFor="let month of months" class="card-container">
  <div  class="card">
    <span>{{years.getMonth()}}</span>
    <div *ngFor="let day of getDaysInYearMonth(year,month)">
    <br>
    <ul class="weekdays">
      <li *ngFor="let item_week of week">
        {{item_week}}
      </li>
    </ul>
    <ul class="days">
      <li>
        {{day.getDate()}}
      </li>
    </ul>
    
  </div>
  </div>
  <!-- Dentro del parágrafo va la información del Character que se está modifcando -->
  <p></p>
</div>